{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block scripts %}
    <script src="{%  static 'post/post-details.js' %}" defer></script>
{% endblock scripts %}
{% block title %}
    {{ obj.title }} details
{% endblock title %}
{% block content %}
    <!-- update Modal -->
        <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div id="alert-message"></div>
                  <form id="update-form">
                      {% csrf_token %}
                      {{ form|crispy }}
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success"> Update</button>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
        <!-- End update Modal -->
    <!-- Delete Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  Are you want to want to delete <b>"{{ obj.title }}"</b> ?
              </div>
                <div class="modal-footer">
                    <form id="delete-form">
                      {% csrf_token %}
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success"> Delete</button>
                      </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
        <!-- End Modal -->
    <button id="back-btn" class="btn btn-secondary">Back</button>
    <button id="edit-btn" class="btn btn-info not-visible" data-bs-toggle="modal" data-bs-target="#updateModal">Edit</button>
    <button id="delete-btn" class="btn btn-danger not-visible" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
    <!--Spinner-->
     <div id="spinner-box" class="text-center">
         <div class="spinner-border" role="status"></div>
     </div>
    <div class="mt-1" id="post-box"></div>
{% endblock content %}