{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'post/post.js' %}" defer></script>
{% endblock %}
{% block title %}{% endblock %}
{% block content %}

    <div id="post-list"></div>
    <div class="text-center mb-3" id="end-load">
        <div id="spinner-box" class="text-center">
            <div class="spinner-border" role="status"></div>
         </div>
        <button class="btn btn-primary" id="load-btn"> Load more</button>

    </div>
{% endblock %}
